<div{{ attributes.addClass(['timeline-aggregated']) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% for year, items_of_year in items %}
    <div class="timeline-aggregated-entry">
      <h2 class="timeline-aggregated-entry__year">{{ year }}</h2>
      <div class="timeline-aggregated-entry__items">
        {% for item in items_of_year %}
          {{ item }}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
