{#
/**
 * @file timeline-entry.html.twig
 * Default theme implementation to present timeline entry data.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_timeline_entry()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('timeline__entry') }}>
  {{ title_prefix }}
  <h2 class="timeline__entry__title">{{ label }}</h2>
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
